.dropDwonBox {
    max-width: 350px;
    width: 100%;
    transition: transform 0.3s ease;
}

.dropDwonBox:hover {
    transform: translateY(-4px)
}

.dropDwonBox select {
    width: 100%;
    outline: none;
    font-size: 1rem;
    font-weight: 300;
    padding-block: 0.6rem;
    border-radius: 8px;
    padding-left: 8px;
    border: 1px solid lightgray;
    appearance: none;
    -webkit-appearance: none; /* Chrome/Safari */
    -moz-appearance: none; /* Firefox */
}

.dropDwonBox select:focus {
    border: 1px solid #1c86dd;
}
@media(max-width:768px){
    .dropDwonBox{
        max-width: 100%;
    }
}